.container{
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.full-col{
    width: 100%;
}
.col{
    width: 33.33%;
}
@media (min-width: 1140px){
    .col{
        width: 16.66%;
    }
}